[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/GxCrypt"]
	path = extern/GxCrypt
	url = https://github.com/GxOSS/GxCrypt.git
[submodule "extern/freeBOOT"]
	path = extern/freeBOOT
	url = https://github.com/ExposureMG/freeBOOT
